* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
[class*="col-"] {
    float: left;
    border: solid 5px red;
    padding: 0;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.top, .middle, .bottom, .sub{border:none}
.top{height: 20%;padding: 1% 1% 0 1%;}
.bottom,.middle{height: 40%;}
.sub{height: 50%;}

.item{position: relative; border: solid 5px red; } 

.middle{padding: 1% 1% 0 1%;}
.up{padding: 0 0 1% 0;}
.down{padding: 1% 0 0 0;}
.bottom{padding: 1%;}

@media screen and (max-width: 750px) {
    [class*="col-"] {
        width: 100%;
        float: none;
        border: none;
        padding: 0;
        height: auto;
    }

    .col-10{border: solid 5px red;}
    .top, .middle, .bottom, .sub { border: none; padding: 0; height: auto; }

    .item {
        display: block;
        width: 98%;
        min-height: 200px;
        margin: 1%;
        border: solid 5px red;
        box-sizing: border-box;
    }
}


